html,body{
	height:100%;
	margin:0;
}
.div-box{
	position:relative;
	width:480px;
	height:100%;
	margin:0 auto;
}
.myDiv{
	float:left;
	width:150px;
	height:150px;
	
	background-color:yellow;
	margin-bottom:15px;
	margin-right:15px;
	border-radius:12px;
}
